<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd" default-init-method="myInit"  default-destroy-method="cleanUp">
    
    <!--  <bean id="parenttriangle" class="com.pankaj.Triangle" abstract="true">
    	<property name="points">
    		<list>
    			<ref bean="pointA" />
    		</list>
    	</property>
    </bean>-->

	<bean id="triangle" class="com.pankaj.Triangle" >
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
		
	</bean>
<!-- <constructor-arg index="0" value="Equilateral"/>
<constructor-arg index="1" value="20"/> -->

	<bean id="pointA" class ="com.pankaj.Point">
			<property name="x" value="0"/>
			<property name="y" value="0"/>
	</bean>
	
	<bean id="pointB" class ="com.pankaj.Point">
			<property name="x" value="-20"/>
			<property name="y" value="0"/>
	</bean>
	
 	<bean id="pointC" class ="com.pankaj.Point">
			<property name="x" value="20"/>
			<property name="y" value="0"/>
	</bean>
	
	<bean class="com.pankaj.DisplayBeanNamePostProcessor" />
 

</beans>